---
import type { CollectionEntry } from "astro:content";
import ArticleCard from "./ArticleCard.astro";
import { getArticlesWithUrls } from "../utils/articleUrls";

interface Props {
  articles: CollectionEntry<"articles">[];
  emptyMessage?: string;
  lang?: "en" | "ua";
}

const { articles, emptyMessage = "No articles yet.", lang = "en" } = Astro.props;
const articlesWithUrls = getArticlesWithUrls(articles);
---

{articles.length === 0 && <p class="text-gray-500">{emptyMessage}</p>}
<ul class="divide-y divide-gray-100">
  {articlesWithUrls.map((article) => (
    <li class="py-6 first:pt-0 last:pb-0">
      <ArticleCard
        href={article.url}
        title={article.data.title}
        date={article.data.date}
        description={article.data.description}
        tags={article.data.tags}
        image={article.data.image}
        lang={lang}
      />
    </li>
  ))}
</ul>
